.alertMain{
  position: fixed;
  top: 50px;
  z-index: 1;
  left: 625px;
  width: 150px;
  height: 50px;
}
@-webkit-keyframes oculting{
  0% {
    width: 150px;visibility: visible;
  }
  100% {
    width: 50px;visibility: hidden;
  }
}
@-moz-keyframes oculting{
  0% {
    width: 150px;visibility: visible;
  }
  100% {
    width: 50px;visibility: hidden;
  }
}
@keyframes oculting{
  0% {
    width: 150px;visibility: visible;
  }
  100% {
    width: 50px;visibility: hidden;
  }
}
.oculting{
  visibility: hidden;
  animation: oculting 1s ;
}
.alertContainer{
  width: 100%;
  height: 100%;
  display: flex;
  visibility: visible;
  justify-content: space-around;
  background-color: #00796b;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 0px solid #000000;
}
.alertText{
  color: white;
  font-size: 15px;
}
/*------------------------------------*/   
@keyframes alertLoaderInit{
  0%   {width: 33.3%;left: 0px;}  
  100% {width: 100%;left: 0px;}
}
@-webkit-keyframes waiting{
  0%   {width: 100%;left: 0px;}
  
  50%  {width: 112.5%;left: -9.25px;}
  
  100% {width: 100%;left: 0px;}
}
@-moz-keyframes waiting{
  0%   {width: 100%;left: 0px;}
  
  50%  {width: 112.5%;left: -9.25px;}
  
  100% {width: 100%;left: 0px;}
}
@keyframes waiting{
  0%   {width: 100%;left: 0px;}
  
  50%  {width: 112.5%;left: -9.25px;}
  
  100% {width: 100%;left: 0px;}
}
.waiting{
  -webkit-animation: waiting 2s infinite;
  -moz-animation: waiting 2s infinite;
  animation: waiting 2s infinite;
}
/*------------------------------------*/
.alertLoader{
  position: absolute;
  width: 100%;
  z-index: -1;
  height: 100%;
  top:0;
  left: 0px;
  display: flex;
  background-color: #669b94;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 0px solid #000000;
}
@keyframes alertLoaderFinish{
  0%   {width: 150px;visibility: visible;}
  
  100% {width: 50px;visibility: hidden;}
}
.alertLoaderFinish{
  position: absolute;
  width: 33.333%;
  visibility: hidden;
  z-index: -1;
  height: 100%;
  top:0;
  left: 0px;
  display: flex;
  background-color: #1f796e;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 0px solid #000000;
  animation: alertLoaderFinish 3s;
}
@keyframes alertFinisher{
  0%   {width: 150px;visibility: visible;}
  
  100% {width: 50px;visibility: hidden;}
}
.alertFinish{
  position: fixed;
  top: 50px;
  z-index: 1;
  visibility: hidden;
  left: 625px;
  width: 0px;
  height: 50px;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  animation: alertFinisher 3s;
}












.root {
    position: fixed;
    top: 27px;
    left: 6px;
    width: 310px;
    height: 120px;
    z-index: 1;
}
html, body {
    background-color: rgba(0,0,0,1.87);;
    width: 300px;
    height: 100px;
  }
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
input:checked + .slider {
    background-color: #2196F3;
  }
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .title {
    font-family: Arial, Helvetica, sans-serif;
  }
  .root{
    margin: auto;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  .text{
    color: #dadce0;
    font-size: 18px;
    width: 200px;
  }
  .forms {
    display: flex;
    justify-content: space-around;
    width: 100px;
  }
